<div class="password-strength">
  <div class="progress" style="height: 5px">
    <div
      class="progress-bar"
      [class.bg-danger]="strength <= 30"
      [class.bg-warning]="strength > 30 && strength <= 70"
      [class.bg-success]="strength > 70"
      [style.width.%]="strength"
    ></div>
  </div>
  <div class="d-flex justify-content-between mt-1">
    <small [class.text-danger]="strength <= 30">Слабый</small>
    <small [class.text-warning]="strength > 30 && strength <= 70"
      >Средний</small
    >
    <small [class.text-success]="strength > 70">Сильный</small>
  </div>
</div>
